.pageHeader{
    text-align: center;
}

.theQuiz{
    border: 7px solid #ffc128;
    background-color: #0f4c81;
    color: white;
    text-align: center;
    width: 50vw;
    min-height: 15rem;
    margin: auto;
}

.optionsContainer{
    text-align:left;
    margin: 10%;
}

#question{
    margin-top: 1em;
}